---
import Layout from "../layouts/Layout.astro";
import Heading from "../components/Heading.astro";
import Section from "../layouts/Section.astro";
import Toolbox from "../components/Toolbox.astro";
import MagneticButton from "../components/MagneticButton";
import Project from "../components/Project.astro";

export type projectType = {
  title: string;
  subtitle: string;
  description: string;
  github: string;
  website: string | null;
};

const projects: projectType[] = [
  {
    title: "Thundr",
    subtitle: "note app",
    description:
      "Thundr is a note app, created using T3 stack. There are different types of notes you can create, including markdown note, todo list and even decision tree.",
    github: "https://github.com/liioan/thundr",
    website: "https://thundr.vercel.app",
  },
  {
    title: "Hard Code Cafe",
    subtitle: "restaurant website",
    description:
      "This website was created as a school project. It is one of my first projects made with React. I used Framer Motion library for animations.",
    github: "https://github.com/liioan/hard-code-cafe",
    website: "https://hardcodecafe.netlify.app",
  },
  {
    title: "FeastBits",
    subtitle: "catering website",
    description:
      "FeastBits is another school project. It uses React on fontend, and Laravel on backend. I also used supabase for file storage.   ",
    github: "https://github.com/liioan/feastbits",
    website: null,
  },
];
---

<style is:global>
  @import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&family=Source+Code+Pro:wght@600;700&display=swap");

  * {
    cursor: none !important;
  }

  .outline {
    outline: 4px solid rgba(0, 255, 0, 0.3);
  }

  body:has(.hide-cursor:hover) .cursor {
    opacity: 0;
  }
  body:has(.hide-cursor:hover) .cursor2 {
    opacity: 0;
  }

  body::-webkit-scrollbar {
    display: none;
  }
</style>

<Layout title="David Bijok">
  <main
    class="relative flex h-screen items-center justify-center before:absolute before:left-0 before:-z-10 before:h-full before:w-full before:animate-fadeIn before:bg-[url('/hero_gradient.png')] before:bg-cover before:bg-center before:bg-no-repeat before:content-[''] after:absolute after:left-0 after:top-0 after:-z-10 after:h-full after:w-full after:bg-[url('/waves.png')] after:bg-cover after:bg-center after:content-[''] lg:before:bg-contain xl:justify-start xl:px-[220px]"
  >
    <header
      class="relative -translate-y-10 text-text before:absolute before:left-0 before:-translate-x-3 before:-translate-y-4 before:font-content before:opacity-50 before:content-['<h1>'] after:absolute after:right-0 after:translate-x-3 after:font-content after:opacity-50 after:content-['</h1>'] lg:before:-translate-x-[52px] lg:after:left-0 lg:after:-translate-x-14"
    >
      <h1
        class="relative flex flex-col font-bold before:absolute before:hidden before:h-[90%] before:w-[2px] before:-translate-x-8 before:translate-y-[5%] before:bg-white before:opacity-50 before:content-[''] lg:before:block"
      >
        <span class="text-[32px] sm:text-[44px] lg:text-[64px]"> Hi!</span>
        <span class="text-[48px] sm:text-[76px] lg:text-[96px]">
          I'm David,</span
        >
        <span class="text-[32px] sm:text-[44px] lg:text-[64px]">
          a frontend developer</span
        >
      </h1>
    </header>
  </main>
  <Section id="about">
    <Heading>About</Heading>
    <div
      class="flex flex-col items-center justify-center gap-20 2xl:flex-row 2xl:gap-60"
    >
      <p
        class="w-[80%] max-w-[850px] text-center font-content text-lg font-semibold text-text md:text-2xl lg:text-left"
      >
        I am a passionate Web Developer and Designer based in Poland. I started
        coding in the summer of 2022. Since then, I have designed and built a
        few apps and websites from scratch using various tools and technologies.
        Although I am primarily a frontend engineer, I have experience in
        backend development.
      </p>
      <div
        class="relative z-10 flex aspect-square max-h-[425px] w-[80%] max-w-[425px] items-center justify-center after:absolute after:left-0 after:top-0 after:-z-10 after:h-full after:w-full after:rotate-[-70deg] after:scale-125 after:bg-[url('/gradient.png')] after:bg-cover after:bg-center after:opacity-70 after:content-[''] lg:min-h-[425px] lg:min-w-[425px] 2xl:after:h-[1200px] 2xl:after:w-[1200px] 2xl:after:-translate-x-[450px] 2xl:after:-translate-y-[450px] 2xl:after:scale-75"
      >
        <img
          src="/profile_picture.png"
          alt="my profile picture"
          class="aspect-square w-[80%] lg:min-h-[425px] lg:min-w-[425px]"
        />
      </div>
    </div>
  </Section>
  <Section id="toolbox">
    <Heading>Toolbox</Heading>
    <div class="flex w-full items-center justify-center 2xl:mt-[85px]">
      <Toolbox />
    </div>
  </Section>
  <Section id="projects">
    <Heading>Projects</Heading>
    <div
      class="relative flex w-full flex-col items-center justify-center gap-[30px] after:absolute after:left-0 after:top-0 after:-z-10 after:h-full after:w-full after:-translate-y-[250px] after:scale-110 after:bg-[url('/gradient.png')] after:bg-contain after:bg-center after:bg-no-repeat after:opacity-40 after:content-[''] lg:flex-row lg:flex-wrap lg:gap-[20px] 2xl:mt-[85px] 2xl:after:-translate-x-[200px] 2xl:after:translate-y-[100px] 2xl:after:scale-150"
    >
      {projects.map((project) => <Project project={project} />)}
    </div>
  </Section>
</Layout>
