---
import MagneticButton from "./MagneticButton.tsx";

type Link = { url: string; img: string; alt: string };

const links: Link[] = [
  {
    url: "https://twitter.com/DavidBijok",
    img: "/twitter.png",
    alt: "twitter logo",
  },
  { url: "https://github.com/Liioan", img: "/github.png", alt: "github logo" },
  {
    url: "https://www.linkedin.com/in/dawid-bijok-a83a95285/",
    img: "/linkedin.png",
    alt: "linkedin logo",
  },
];
---

<style is:global>
  .icon:hover img {
    filter: invert(100);
  }
</style>

<ul
  class="fixed bottom-[30px] left-[5px] z-10 flex flex-col gap-[10px] sm:left-[30px]"
>
  {
    links.map((link) => (
      <li>
        <MagneticButton
          className="icon hide-cursor flex h-[50px] w-[50px] items-center justify-center rounded-full opacity-50 transition-colors duration-200 hover:bg-primary hover:opacity-100"
          client:only
        >
          <a href={link.url}>
            <img src={link.img} alt={link.alt} />
          </a>
        </MagneticButton>
      </li>
    ))
  }
</ul>
