---
interface Props {
  id: string;
}

const { id } = Astro.props;
---

<section
  class="flex min-h-screen flex-col items-center gap-20 overflow-x-clip pt-24 xl:items-start xl:px-[220px] 2xl:justify-center 2xl:gap-0"
  id={id}
>
  <slot />
</section>
